@import "tailwindcss";
@theme {
  /* Warm Neutral Color Palette */
  --color-primary: #a8965f; /* More vibrant olive */
  --color-secondary: #d5c7a3;
  --color-tertiary: #f2e2b1;
  --color-accent: #f6f0f0;
  --color-dark: #1e1c16; /* New dark shade */

  /* Semantic color assignments */
  --color-background: #f6f0f0;
  --color-surface: #f2e2b1;
  --color-surface-variant: #d5c7a3;
  --color-text-primary: #bdb395;
  --color-text-secondary: #d5c7a3;
  --color-border: #f2e2b1;
  --color-hover: #d5c7a3;
  --color-active: #bdb395;

  /* Additional utilities */

  --font-playfair: "Playfair Display", serif;
  --font-poppins: "Poppins", sans-serif;
}
